.save-flight-btn {
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.save-flight-btn:hover {
    transition: 0.3s;
    transform: scale(1.1);
    box-shadow: 0px 0px 7px rgb(169, 220, 255);
}

.save-flight-btn:active {
    transition: 0.3s;
    transform: scale(0.9);
}