<!DOCTYPE html>
<!--suppress HtmlUnknownTag -->
<html>
<head>
	<title>Edit your trip!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="styles/buefy.min.css">
  <link rel="stylesheet" href="styles/bulma.min.css">
  <link rel="stylesheet" href="styles/materialdesignicons.min.css">
  <link rel="stylesheet" href="styles/materialdesignicons-webfont.woff2">
  
  <script src="scripts/jquery-3.4.1.min.js"></script>
  <script src="scripts/vue.js"></script>
  <script src="scripts/buefy.min.js"></script>
  
  <script src="scripts/edit.js"></script>
</head>
<body>
  <div id="app">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="has-text-centered is-size-2">
            Предложения по сбору багажа
          </div>
          <div class="has-text-centered is-size-4">
            {{ flight.destination_point }} ({{flight.arrival_date}} - {{flight.return_date}})
          </div>
          <br>
          <br>
          <div class="columns is-vertical">
            <div class="column is-half">
              <span class="has-text-weight-medium is-size-5">Уточните ваши цели поездки:</span>
              <b-field
              >
                <b-input 
                  placeholder="Цель..."
                  v-model="new_reason"
                  >
                </b-input>
                <p class="control">
                    <b-button @click="addReason" class="button is-success">Добавить</b-button>
                </p>
              </b-field>
            </div>
            <div class="column is-half">
              <b-field grouped group-multiline>
                  <div class="control" v-for="reason in reasons">
                      <b-tag
                        type="is-info"
                        attached
                        closable
                        @close="reasons = reasons.filter( (r) => r !== reason )"
                      >
                        {{reason}}
                    </b-tag>
                </div>
              </b-field>
            </div>
          </div>
          <div class="has-text-weight-medium is-size-5">
            Уточните информацию о путешественниках
          </div>
            <div class="columns is-vertical">
                <div class="column is-half">
                    <div v-for="(human, index) in people">
                        <div v-if="index % 2 == 0">
                            <div class="container">
                                <b-notification @close="deleteHuman(index)" aria-close-label="Close notification">
                                    <b-field>
                                        <b-input v-model="people[index].name" placeholder="Имя..."></b-input>
                                    </b-field>
                                    <div class="columns">
                                        <div class="column is-half">
                                            <div class="field">
                                                <b-checkbox v-model="people[index].adult" type="is-info">
                                                    Взрослый
                                                </b-checkbox>
                                            </div>
                                        </div>
                                        <div class="column is-half">
                                            <div class="field is-pulled-right">
                                                <b-switch
                                                  v-model="people[index].sex"
                                                  true-value="Муж"
                                                  false-value="Жен"
                                                  type="is-info"
                                                >
                                                  {{ human.sex }}
                                                </b-switch>
                                            </div>
                                        </div>
                                    </div>
                                </b-notification>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div v-if="people.length % 2 == 0">
                        <div class="container">
                        <b-notification :closable="false" aria-close-label="Close notification">
                            <div @click="addHuman" class="is-expanded has-text-centered">
                                <b-icon
                                    icon="plus-circle-outline"
                                    size="is-large"
                                >
                                </b-icon>
                            </div>
                        </b-notification>
                        </div>
                    </div>
                </div>
                <div class="column is-half">
                    <div v-for="(human, index) in people">
                        <div v-if="index % 2 == 1">
                            <div class="container">
                                <b-notification @close="deleteHuman(index)" aria-close-label="Close notification">
                                    <b-field>
                                        <b-input v-model="people[index].name" placeholder="Имя..."></b-input>
                                    </b-field>
                                    <div class="columns">
                                        <div class="column is-half">
                                            <div class="field">
                                                <b-checkbox v-model="people[index].adult" type="is-info">
                                                    Взрослый
                                                </b-checkbox>
                                            </div>
                                        </div>
                                        <div class="column is-half">
                                            <div class="field is-pulled-right">
                                                <b-switch
                                                  v-model="people[index].sex"
                                                  true-value="Муж"
                                                  false-value="Жен"
                                                  type="is-info"
                                                >
                                                  {{ human.sex }}
                                                </b-switch>
                                            </div>
                                        </div>
                                    </div>
                                </b-notification>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div v-if="people.length % 2 == 1">
                        <div class="container">
                            <b-notification :closable="false" aria-close-label="Close notification">
                                <div @click="addHuman" class="is-expanded has-text-centered">
                                    <b-icon
                                        icon="plus-circle-outline"
                                        size="is-large"
                                    >
                                    </b-icon>
                                </div>
                            </b-notification>
                        </div>
                    </div>
                </div>
              </div>
             <b-button @click="offer" type="is-success">
                Предложить
              </b-button>
          </div>
          <br>
      </div>
    </div>
  </div>
</body>
</html>